<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/wizard.css">
        <script src="../js/wizardScript.js"></script>
    </head>
    <body>
        <div class="col-12 d-flex flex-column">
            <div class="col-12 ml-5 my-5">
                <h2>User</h2>
            </div>
            <div class="col-9 my-5 ml-10">
                <form th:action="@{/Players}" th:object="${player}" method="POST">
                    <div class="form-group">
                        <label for="playerName">Spielername</label>
                        <input type="text" class="form-control" name="playerName" placeholder="Spielername...">
                    </div>
                    <div class="form-group">
                        <label for="scoreQuizes">Spielerpunkte</label>
                        <input type="number" class="form-control" name="scoreQuizes" placeholder="Spielerpunkte..." required>
                    </div>
                    <button class="btn btn-primary" id="submitBtn" type="submit">Absenden</button>
                </form>
            </div>
        </div>
    </body>
</html>