a:link {
    text-decoration: none;
    color: black;
}
  
  li {
    float: left;
  }

  button {
    float: right;
  }
  
  li a {
    display: block;
    padding: 10px;
    background-color: #333;
    text-decoration: none;
    color: white;
  }

  li a:hover {
    background-color: black;
  }

#title {
    position: absolute;
    font-size: 50px;

    color: black;

    left: 25%;
}

#img_koch {
    position: absolute;
    top: 22.5%;

    width: 25%;
}

#date {
    text-decoration: underline;

    font-size: 35px;
}

.navbar {
  display: inline-block;
  overflow: hidden;
  background-color: #0066B3;
  text-align: center;
  top: 0;
  margin-bottom: -2px;
  width: 100%;
  padding: 1.7%;
}

.balkenorange{
  height: 2.5em;
  width: 100%;
  background-color: #FF6600;
}

/*ESSEN MENÜ*/

div.essen_menu {
    position: absolute;
    left: 27.5%;
    top: 22%;

    font-size: 35px;

}

div.essen_menu ul {
    list-style-type: none;
    overflow: hidden;

    padding: 10px;
}


#essen_title, #essen_kosten, #date {
    font-weight: bold;
}

#essen_kosten {
    position: absolute;
    top: 90%;
    left: 27.5%;

    font-size: 30px;
}