body{
  margin:0;
  display: grid;
  grid-template-columns: repeat(1, auto);
  align-content: center;
  width: 100%;
  gap: 10px
}

.container{
  position: absolute;
  top: 50%;
  bottom: 10%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.navbar {
  display: inline-block;
  overflow: hidden;
  background-color: #0066B3;
  text-align: center;
  top: 0;
  width: 100%;
  padding: 30px;
}

.navbar a {
  display: inline-block;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.balkenorange{
  height: 30px;
  width: 100%;
  background-color: #FF6600;
}

button{
  background-color: #0066B3;
  border: none;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  height:100px;
  width:500px;
  text-align: center;
  text-decoration: none;
  font-size: 48px;
  border-radius: 4px;
}

#q-btn{
  background-color: #FF6600;
  color: white;
  font-size: 24px;
}

#information {
  display: flex;
}

#information button{
  border-radius: 70%;
  font-size: 24px;
  height:100px;
  width: 100px;
}

#back-btn,#mode button,.kbtn button, .btn-grid button, .gameoverButtons button{
  transition-duration: 0.2s;
}

.gameoverButtons button:hover, #back-btn:hover,#mode button:hover,.kbtn button:hover, .btn-grid button:hover {
  background-color: lightblue !important;
  color: white;
}

.hide {
  display: none !important;
}

#back-btn{
  background-color: #0066B3;
  color: white;
  border: #0066B3;
  float: left;
  margin-top: 2%;
  margin-left: 5%;
  border-radius: 70%;
  font-size: 24px;
  height:100px;
  width: 100px;
}

#gameoverScreen{
  margin-left: auto;
  margin-right: auto;
}

.gameoverButtons{
  display: flex;
  gap: 50px;
}

#highscoreScreen button, .gameoverButtons button{
  border-radius: 70%;
  font-size: 24px;
  height:100px;
  width: 100px;
}

#highscoreScreen{
  display:inline-block;
  margin-left: auto;
  margin-right: auto;
}