body{
  margin:0;
  display: grid;
  grid-template-columns: repeat(1, auto);
  align-content: center;
  width: 100%;
  gap: 10px;
}

.container{
  position: absolute;
  top: 50%;
  bottom: 10%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.navbar {
  display: inline-block;
  overflow: hidden;
  background-color: #0066B3;
  text-align: center;
  top: 0;
  width: 100%;
  padding: 1.5%;
}

.balkenorange{
  height: 25%;
  width: 100%;
  background-color: #FF6600;
}

.controls{
  margin-top: 15%;
}

button{
  background-color: #0066B3;
  border: none;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6%;
  height:2em;
  width:10em;
  text-align: center;
  text-decoration: none;
  font-size: 48px;
  border-radius: 4px;
}

#q-btn,#gameoverText-btn{
  background-color: #FF6600;
  color: white;
  font-size: 16px;
  height: 7em;
  width: 30em;
}

#information {
  display: flex;
}

#information button,#gameoverPoints-btn{
  border-radius: 70%;
  font-size: 24px;
  height:4em;
  width: 4em;
}

#startDiv button:hover, #back-btn,#mode button,#kid button, .btn-grid button, .gameoverButtons button{
  transition-duration: 0.2s;
}

#startDiv button:hover, .gameoverButtons button:hover, #back-btn:hover,#mode button:hover,#kid button:hover, .btn-grid button:hover {
  background-color: lightblue !important;
  color: white;
}

.hide {
  display: none !important;
}

#back-btn{
  background-color: #0066B3;
  color: white;
  border: #0066B3;
  position: absolute;
  top: 25%;
  left: 3%;
  border-radius: 70%;
  font-size: 24px;
  height:4em;
  width: 4em;
}

#currentHs{
  position: absolute;
  top: 23%;
  right: 10%;
}

#upperButton,#timeBtn,#pointsBtn,#gameoverPoints-btn{
  background-color: #FF6600;
  color: white;
}

#gameoverScreen{
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}

.gameoverButtons{
  display: flex;
  gap: 1em;
}

#highscoreScreen button, .gameoverButtons button{
  border-radius: 70%;
  font-size: 24px;
  height:4em;
  width: 4em;
}

#highscoreScreen{
  display:flex;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  gap: 8em;
}

#hsBox{
  display: inline-block;
}