
.buttons {
    width: 50%;
    left: 25%;
    top: 40%;
    margin: auto;
    padding: 15px;
    position: absolute;

    text-align: center;
}

a {
    color: white !important;
    font-size: 50px !important;
}

.navbar {
    display: inline-block;
    overflow: hidden;
    background-color: #0066B3;
    text-align: center;
    top: 0;
    width: 100%;
    padding: 1.5%;
  }
  
  .balkenorange{
    height: 2em;
    width: 100%;
    background-color: #FF6600;
  }