.buttons {
    width: 50%;
    left: 25%;
    top: 30%;
    margin: auto;
    padding: 15px;
    position: absolute;

    text-align: center;
}

a {
    color: white !important;
    font-size: 50px !important;
}

.navbar {
    display: inline-block;
    background-color: #0066B3;
    text-align: center;
    
    width: 100%;
    padding: 30px;
  }
  
.balkenorange{
      height: 30px;
      width: 100%;
      background-color: #FF6600;
}