
.buttons {
    width: 50%;
    left: 37%;
    top: 35%;
    margin: auto;
    padding: 15px;
    position: absolute;
}

#video {
  background-color: #0066B3;

  height: 2em;
  width: 10em;
}

#quiz {
  background-color: #0066B3;
  
  height: 2em;
  width: 10em;
}

a {
    color: white !important;
    font-size: 50px !important;
}

.navbar {
    display: inline-block;
    overflow: hidden;
    background-color: #0066B3;
    text-align: center;
    top: 0;
    width: 100%;
    padding: 1.5%;
  }
  
  .balkenorange{
    height: 2.5em;
    width: 100%;
    background-color: #FF6600;
  }