.navbar {
    display: inline-block;
    overflow: hidden;
    background-color: #0066B3;
    text-align: center;
    top: 0;
    margin-bottom: -2px;
    width: 100%;
    padding: 1.7%;
  }
  
  .balkenorange{
    height: 2.1em;
    width: 100%;
    background-color: #FF6600;
  }
  
  #vid {
	position: absolute;
  
	width: 67.5%;
	left: 17%;
	top: 25%;
  }
  
  .control-buttons {
	position: absolute;
	left: 2%;
	top: 27%;
  }
  
  .skip-buttons {
	position: absolute;
	left: 89%;
	top: 40%;
  }

  #hsLogo{
    margin-left: 3%;
}
  
  #back-btn, #volume-up-btn, #volume-down-btn, #play-btn, #forward-btn, #backward-btn {
	background-color: #0066B3;
	color: white;
	border: #0066B3;
	border-radius: 70%;
	font-size: 24px;
	height:4em;
	width: 4em;
  }
  
  #back-btn:hover, #volume-up-btn:hover, #volume-down-btn:hover, #play-btn:hover, #forward-btn:hover, #backward-btn:hover{
	background-color: lightblue !important;
	color: white;
  }